openapi: 3.1.1
info:
  description: |
    Plex OpenAPI Spec
  title: Plex API
  version: 0.0.1
servers:
- description: Plex Media Server
  url: "{hostname}"
  variables:
    hostname:
      default: http://localhost32400
      description: Plex server hostname
security:
- PlexAuth: []
paths:
  /:
    get:
      description: Get Server Capabilities
      operationId: getServerCapabilities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_200_response'
          description: The Server Capabilities
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Server Capabilities
      tags:
      - Server
  /accounts:
    get:
      description: Get Server Accounts
      operationId: getServerAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerAccounts_200_response'
          description: The Server Accounts
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Server Accounts
      tags:
      - Server
  /activities:
    get:
      description: Get Server Activities
      operationId: getServerActivities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerActivities_200_response'
          description: The Server Activities
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Server Activities
      tags:
      - Activities
  /butler:
    get:
      description: Returns a list of butler tasks
      operationId: getButlerTasks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getButlerTasks_200_response'
          description: All butler tasks
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Butler tasks
      tags:
      - Butler
  /clients:
    get:
      description: Get Available Clients
      operationId: getAvailableClients
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAvailableClients_200_response'
          description: Available Clients
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Available Clients
      tags:
      - Server
  /devices:
    get:
      description: Get Devices
      operationId: getDevices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDevices_200_response'
          description: Devices
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Devices
      tags:
      - Server
  /geoip:
    get:
      description: Returns the geolocation and locale data of the caller
      operationId: getGeoData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoData'
          description: Gets the geo location data of the user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      security: []
      servers:
      - url: https://plex.tv/api/v2
      summary: Get Geo Data
      tags:
      - Plex
  /identity:
    get:
      description: This request is useful to determine if the server is online or
        offline
      operationId: get-server-identity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_identity_200_response'
          description: The Server Identity information
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_identity_408_response'
          description: Request Timeout
      security: []
      summary: Get Server Identity
      tags:
      - Server
  /library/sections:
    get:
      description: Get a list of all media libraries on the Plex server.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_library_sections_get_200_response'
          description: Successful response
        "401":
          description: Unauthorized. Invalid or missing Plex token.
        "500":
          description: Server error.
      summary: Get Media Libraries
      tags:
      - Library
  /library/sections/{libraryKey}/all:
    get:
      description: Get a list of all media in a specified library.
      parameters:
      - description: Key for the media library
        explode: false
        in: path
        name: libraryKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_library_sections__libraryKey__all_get_200_response'
          description: Successful response
        "404":
          description: Library not found
        "401":
          description: Unauthorized. Invalid or missing Plex token.
        "500":
          description: Server error.
      summary: Get All Media in a Library
      tags:
      - Library
  /statistics/media:
    get:
      description: This will return the media statistics for the server
      operationId: getStatistics
      parameters:
      - description: |
          The timespan to retrieve statistics for
          the exact meaning of this parameter is not known
        example: 4
        explode: true
        in: query
        name: Timespan
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStatistics_200_response'
          description: Media Statistics
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Media Statistics
      tags:
      - Statistics
  /statistics/resources:
    get:
      description: This will return the resources for the server
      operationId: getResourcesStatistics
      parameters:
      - description: |
          The timespan to retrieve statistics for
          the exact meaning of this parameter is not known
        example: 4
        explode: true
        in: query
        name: Timespan
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResourcesStatistics_200_response'
          description: Resource Statistics
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Resources Statistics
      tags:
      - Statistics
  /statistics/bandwidth:
    get:
      description: This will return the bandwidth statistics for the server
      operationId: getBandwidthStatistics
      parameters:
      - description: |
          The timespan to retrieve statistics for
          the exact meaning of this parameter is not known
        example: 4
        explode: true
        in: query
        name: Timespan
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBandwidthStatistics_200_response'
          description: Bandwidth Statistics
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Bandwidth Statistics
      tags:
      - Statistics
  /status/sessions:
    get:
      description: Get information about currently active media sessions.
      operationId: getSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSessions_200_response'
          description: Successful response
        "401":
          description: Unauthorized. Invalid or missing Plex token.
        "500":
          description: Server error.
      summary: Get Active Sessions
      tags:
      - Sessions
  /status/sessions/history/all:
    get:
      description: This will Retrieve a listing of all history views.
      operationId: getSessionHistory
      parameters:
      - description: |
          Sorts the results by the specified field followed by the direction (asc, desc)
        examples:
          viewed-at-descending:
            value: viewedAt:desc
          viewed-at-ascending:
            value: viewedAt:asc
          rating-descending:
            value: rating:desc
          rating-ascending:
            value: rating:asc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter results by those that are related to a specific users id
        example: 1
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Filters content by field and direction/equality
          (Unknown if viewedAt is the only supported column)
        examples:
          ViewedAt:
            value: viewedAt>=1704862818
        explode: true
        in: query
        name: filter
        required: false
        schema:
          example:
            viewed-at-greater-than:
              value: viewedAt>
            viewed-at-greater-than-or-equal-to:
              value: viewedAt>=>
            viewed-at-less-than:
              value: viewedAt<
          pattern: "^[A-Za-z][A-Za-z0-9]*[>=<]{0,2}$"
          type: object
        style: form
      - description: |
          Filters the results based on the id of a valid library section
        example: 12
        explode: true
        in: query
        name: librarySectionID
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSessionHistory_200_response'
          description: List of Plex Sessions
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_401_response'
          description: Unauthorized - Returned if the X-Plex-Token is missing from
            the header or query.
      summary: Get Session History
      tags:
      - Sessions
  /transcode/sessions:
    get:
      description: Get Transcode Sessions
      operationId: getTranscodeSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTranscodeSessions_200_response'
          description: The Transcode Sessions
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServerCapabilities_400_response'
          description: "Bad Request - A parameter was not specified, or was specified\
            \ incorrectly."
      summary: Get Transcode Sessions
      tags:
      - Sessions
components:
  schemas:
    getServerCapabilities_200_response:
      example:
        MediaContainer:
          transcoderSubtitles: true
          readOnlyLibraries: true
          photoAutoTag: true
          myPlexMappingState: myPlexMappingState
          transcoderVideoQualities: transcoderVideoQualities
          allowCameraUpload: true
          pluginHost: true
          multiuser: true
          allowSharing: true
          myPlexUsername: myPlexUsername
          updatedAt: 9.301444243932576
          myPlexSubscription: true
          livetv: 6.027456183070403
          allowSync: true
          sync: true
          version: version
          itemClusters: true
          transcoderLyrics: true
          ownerFeatures: ownerFeatures
          transcoderVideoResolutions: transcoderVideoResolutions
          allowChannelAccess: true
          size: 0.8008281904610115
          myPlex: true
          musicAnalysis: 1.4658129805029452
          companionProxy: true
          transcoderVideo: true
          hubSearch: true
          allowMediaDeletion: true
          allowTuners: true
          certificate: true
          myPlexSigninState: myPlexSigninState
          platform: platform
          transcoderAudio: true
          updater: true
          transcoderPhoto: true
          streamingBrainABRVersion: 5.637376656633329
          countryCode: countryCode
          platformVersion: platformVersion
          eventStream: true
          friendlyName: friendlyName
          Directory:
          - count: 3
            title: title
            key: key
          - count: 3
            title: title
            key: key
          machineIdentifier: machineIdentifier
          backgroundProcessing: true
          voiceSearch: true
          offlineTranscode: 5.962133916683182
          streamingBrainVersion: 2.3021358869347655
          mediaProviders: true
          transcoderVideoBitrates: transcoderVideoBitrates
          diagnostics: diagnostics
          pushNotifications: true
          transcoderActiveVideoSessions: 7.061401241503109
      properties:
        MediaContainer:
          $ref: '#/components/schemas/getServerCapabilities_200_response_MediaContainer'
    getSessions_200_response_MediaContainer_Metadata_inner_Media_inner_Part_inner:
      example:
        container: container
        duration: 7
        file: file
        size: ""
        decision: decision
        videoProfile: videoProfile
        Stream:
        - colorRange: colorRange
          colorTrc: colorTrc
          chromaSubsampling: chromaSubsampling
          bitrate: 1
          language: language
          languageTag: languageTag
          title: title
          audioChannelLayout: audioChannelLayout
          colorSpace: colorSpace
          displayTitle: displayTitle
          frameRate: 7.457744773683766
          codedWidth: 6
          default: true
          streamType: 9
          extendedDisplayTitle: extendedDisplayTitle
          id: id
          selected: true
          height: 1
          original: true
          level: 5
          profile: profile
          chromaLocation: chromaLocation
          index: 4
          refFrames: 9
          languageCode: languageCode
          codec: codec
          channels: 8
          bitDepth: 1
          width: 6
          samplingRate: 9
          codedHeight: 1
          colorPrimaries: colorPrimaries
          location: location
          scanType: scanType
        - colorRange: colorRange
          colorTrc: colorTrc
          chromaSubsampling: chromaSubsampling
          bitrate: 1
          language: language
          languageTag: languageTag
          title: title
          audioChannelLayout: audioChannelLayout
          colorSpace: colorSpace
          displayTitle: displayTitle
          frameRate: 7.457744773683766
          codedWidth: 6
          default: true
          streamType: 9
          extendedDisplayTitle: extendedDisplayTitle
          id: id
          selected: true
          height: 1
          original: true
          level: 5
          profile: profile
          chromaLocation: chromaLocation
          index: 4
          refFrames: 9
          languageCode: languageCode
          codec: codec
          channels: 8
          bitDepth: 1
          width: 6
          samplingRate: 9
          codedHeight: 1
          colorPrimaries: colorPrimaries
          location: location
          scanType: scanType
        id: id
        key: key
        selected: true
      properties:
        container:
          type: string
        duration:
          type: integer
        file:
          type: string
        id:
          type: string
        key:
          type: string
        size:
          type: long
        videoProfile:
          type: string
        decision:
          type: string
        selected:
          type: boolean
        Stream:
          items:
            $ref: '#/components/schemas/getSessions_200_response_MediaContainer_Metadata_inner_Media_inner_Part_inner_Stream_inner'
          type: array
    getSessions_200_response_MediaContainer_Metadata_inner_Genre_inner:
      example:
        filter: filter
        count: count
        id: id
        tag: tag
      properties:
        count:
          type: string
        filter:
          type: string
        id:
          type: string
        tag:
          type: string
    get_server_identity_408_response:
      example:
        code: 408
        message: The server timed out waiting for the request.
      properties:
        code:
          example: 408
          format: int32
          type: integer
        message:
          example: The server timed out waiting for the request.
          type: string
    getServerCapabilities_400_response_errors_inner:
      example:
        code: 1000
        message: X-Plex-Client-Identifier is missing
        status: 400
      properties:
        code:
          example: 1000
          format: int32
          type: integer
        message:
          example: X-Plex-Client-Identifier is missing
          type: string
        status:
          example: 400
          format: int32
          type: integer
    getSessions_200_response_MediaContainer_Metadata_inner_Media_inner_Part_inner_Stream_inner:
      example:
        colorRange: colorRange
        colorTrc: colorTrc
        chromaSubsampling: chromaSubsampling
        bitrate: 1
        language: language
        languageTag: languageTag
        title: title
        audioChannelLayout: audioChannelLayout
        colorSpace: colorSpace
        displayTitle: displayTitle
        frameRate: 7.457744773683766
        codedWidth: 6
        default: true
        streamType: 9
        extendedDisplayTitle: extendedDisplayTitle
        id: id
        selected: true
        height: 1
        original: true
        level: 5
        profile: profile
        chromaLocation: chromaLocation
        index: 4
        refFrames: 9
        languageCode: languageCode
        codec: codec
        channels: 8
        bitDepth: 1
        width: 6
        samplingRate: 9
        codedHeight: 1
        colorPrimaries: colorPrimaries
        location: location
        scanType: scanType
      properties:
        bitDepth:
          type: integer
        bitrate:
          type: integer
        chromaLocation:
          type: string
        chromaSubsampling:
          type: string
        codec:
          type: string
        codedHeight:
          type: integer
        codedWidth:
          type: integer
        colorPrimaries:
          type: string
        colorRange:
          type: string
        colorSpace:
          type: string
        colorTrc:
          type: string
        default:
          type: boolean
        displayTitle:
          type: string
        extendedDisplayTitle:
          type: string
        frameRate:
          type: number
        height:
          type: integer
        id:
          type: string
        index:
          type: integer
        language:
          type: string
        languageCode:
          type: string
        languageTag:
          type: string
        level:
          type: integer
        original:
          type: boolean
        profile:
          type: string
        refFrames:
          type: integer
        scanType:
          type: string
        streamType:
          type: integer
        title:
          type: string
        width:
          type: integer
        location:
          type: string
        audioChannelLayout:
          type: string
        channels:
          type: integer
        samplingRate:
          type: integer
        selected:
          type: boolean
    getSessions_200_response_MediaContainer_Metadata_inner_UltraBlurColors_inner:
      example:
        bottomLeft: bottomLeft
        bottomRight: bottomRight
        topLeft: topLeft
        topRight: topRight
      properties:
        bottomLeft:
          type: string
        bottomRight:
          type: string
        topLeft:
          type: string
        topRight:
          type: string
    getSessionHistory_200_response:
      example:
        MediaContainer:
          size: ""
          Metadata:
          - historyKey: /status/sessions/history/1
            grandparentTitle: Taskmaster
            grandparentThumb: /library/metadata/32132/thumb/1703933346
            parentIndex: 13
            thumb: /library/metadata/32171/thumb/-1
            librarySectionID: "2"
            grandparentKey: /library/metadata/32132
            index: 1
            originallyAvailableAt: 2022-04-14T00:00:00.000Z
            ratingKey: "32171"
            title: The Noise That Blue Makes
            type: episode
            deviceID: 5
            parentThumb: /library/metadata/32170/thumb/1654134301
            accountID: 1
            grandparentArt: /library/metadata/32132/art/1703933346
            parentKey: /library/metadata/32170
            viewedAt: 1654139223
            key: /library/metadata/32171
          - historyKey: /status/sessions/history/1
            grandparentTitle: Taskmaster
            grandparentThumb: /library/metadata/32132/thumb/1703933346
            parentIndex: 13
            thumb: /library/metadata/32171/thumb/-1
            librarySectionID: "2"
            grandparentKey: /library/metadata/32132
            index: 1
            originallyAvailableAt: 2022-04-14T00:00:00.000Z
            ratingKey: "32171"
            title: The Noise That Blue Makes
            type: episode
            deviceID: 5
            parentThumb: /library/metadata/32170/thumb/1654134301
            accountID: 1
            grandparentArt: /library/metadata/32132/art/1703933346
            parentKey: /library/metadata/32170
            viewedAt: 1654139223
            key: /library/metadata/32171
      properties:
        MediaContainer:
          $ref: '#/components/schemas/getSessionHistory_200_response_MediaContainer'
    GeoData:
      description: Geo location data
      example:
        country: United States Virgin Islands
        code: VI
        city: Amsterdam
        european_union_member: true
        coordinates: "18.3381, -64.8941"
        continent_code: NA
        time_zone: America/St_Thomas
        postal_code: "802"
        in_privacy_restricted_region: true
        in_privacy_restricted_country: true
        subdivisions: Saint Thomas
      properties:
        code:
          description: The ISO 3166-1 alpha-2 code of the country.
          example: VI
          type: string
        continent_code:
          description: The continent code where the country is located.
          example: NA
          type: string
        country:
          description: The official name of the country.
          example: United States Virgin Islands
          type: string
        city:
          description: The name of the city.
          example: Amsterdam
          type: string
        european_union_member:
          default: false
          description: Indicates if the country is a member of the European Union.
          example: true
          type: boolean
        time_zone:
          description: The time zone of the country.
          example: America/St_Thomas
          type: string
        postal_code:
          description: The postal code of the location.
          example: "802"
          type: string
        in_privacy_restricted_country:
          default: false
          description: Indicates if the country has privacy restrictions.
          example: true
          type: boolean
        in_privacy_restricted_region:
          default: false
          description: Indicates if the region has privacy restrictions.
          example: true
          type: boolean
        subdivisions:
          description: The name of the primary administrative subdivision.
          example: Saint Thomas
          type: string
        coordinates:
          description: "The geographical coordinates (latitude, longitude) of the\
            \ location."
          example: "18.3381, -64.8941"
          type: string
      required:
      - city
      - code
      - continent_code
      - coordinates
      - country
      - european_union_member
      - in_privacy_restricted_country
      - in_privacy_restricted_region
      - postal_code
      - subdivisions
      - time_zone
      title: GeoData
    getDevices_200_response:
      example:
        MediaContainer:
          identifier: com.plexapp.system.devices
          size: 151
          Device:
          - createdAt: 1654131230
            clientIdentifier: clientIdentifier
            name: iPhone
            id: 1
            platform: iOS
          - createdAt: 1654131230
            clientIdentifier: clientIdentifier
            name: iPhone
            id: 1
            platform: iOS
      properties:
        MediaContainer:
          $ref: '#/components/schemas/getDevices_200_response_MediaContainer'
    getServerActivities_200_response:
      example:
        MediaContainer:
          size: 0.8008281904610115
          Activity:
          - Context:
              librarySectionID: librarySectionID
            subtitle: subtitle
            progress: 1.4658129805029452
            type: type
            title: title
            uuid: uuid
            cancellable: true
            userID: 6.027456183070403
          - Context:
              librarySectionID: librarySectionID
            subtitle: subtitle
            progress: 1.4658129805029452
            type: type
            title: title
            uuid: uuid
            cancellable: true
            userID: 6.027456183070403
      properties:
        MediaContainer:
          $ref: '#/components/schemas/getServerActivities_200_response_MediaContainer'
    getStatistics_200_response_MediaContainer_StatisticsMedia_inner:
      example:
        duration: 1555
        accountID: 1
        at: 1707141600
        count: 1
        timespan: 4
        deviceID: 13
        metadataType: 4
      properties:
        accountID:
          example: 1
          format: int32
          type: integer
        deviceID:
          example: 13
          format: int32
          type: integer
        timespan:
          example: 4
          format: int32
          type: integer
        at:
          example: 1707141600
          format: int32
          type: integer
        metadataType:
          example: 4
          format: int32
          type: integer
        count:
          example: 1
          format: int32
          type: integer
        duration:
          example: 1555
          format: int32
          type: integer
    getStatistics_200_response_MediaContainer_Account_inner:
      example:
        thumb: https://plex.tv/users/50d83634246da1de/avatar?c=1707110967
        defaultAudioLanguage: en
        name: Diane
        defaultSubtitleLanguage: en
        id: 238960586
        autoSelectAudio: true
        subtitleMode: 1
        key: /accounts/238960586
      properties:
        id:
          example: 238960586
          format: int32
          type: integer
        key:
          example: /accounts/238960586
          type: string
        name:
          example: Diane
          type: string
        defaultAudioLanguage:
          example: en
          type: string
        autoSelectAudio:
          example: true
          type: boolean
        defaultSubtitleLanguage:
          example: en
          type: string
        subtitleMode:
          example: 1
          format: int32
          type: integer
        thumb:
          example: https://plex.tv/users/50d83634246da1de/avatar?c=1707110967
          type: string
    getSessions_200_response_MediaContainer_Metadata_inner_Producer_inner:
      example:
        filter: filter
        thumb: thumb
        count: count
        id: id
        tag: tag
        tagKey: tagKey
      properties:
        count:
          type: string
        filter:
          type: string
        id:
          type: string
        tag:
          type: string
        tagKey:
          type: string
        thumb:
          type: string
    getButlerTasks_200_response:
      example:
        ButlerTasks:
          ButlerTask:
          - scheduleRandomized: true
            name: BackupDatabase
            description: Create a backup copy of the server's database in the configured
              backup directory
            interval: 3
            title: Backup Database
            enabled: true
          - scheduleRandomized: true
            name: BackupDatabase
            description: Create a backup copy of the server's database in the configured
              backup directory
            interval: 3
            title: Backup Database
            enabled: true
      properties:
        ButlerTasks:
          $ref: '#/components/schemas/getButlerTasks_200_response_ButlerTasks'
    getServerActivities_200_response_MediaContainer_Activity_inner_Context:
      example:
        librarySectionID: librarySectionID
      properties:
        librarySectionID:
          type: string
    getSessions_200_response_MediaContainer_Metadata_inner_Session:
      example:
        bandwidth: 3
        location: location
        id: id
      properties:
        id:
          type: string
        bandwidth:
          type: integer
        location:
          type: string
    getServerActivities_200_response_MediaContainer:
      example:
        size: 0.8008281904610115
        Activity:
        - Context:
            librarySectionID: librarySectionID
          subtitle: subtitle
          progress: 1.4658129805029452
          type: type
          title: title
          uuid: uuid
          cancellable: true
          userID: 6.027456183070403
        - Context:
            librarySectionID: librarySectionID
          subtitle: subtitle
          progress: 1.4658129805029452
          type: type
          title: title
          uuid: uuid
          cancellable: true
          userID: 6.027456183070403
      properties:
        size:
          type: number
        Activity:
          items:
            $ref: '#/components/schemas/getServerActivities_200_response_MediaContainer_Activity_inner'
          type: array
    _library_sections__libraryKey__all_get_200_response_MediaContainer_Metadata_inner:
      example:
        duration: 6
        summary: summary
        ratingKey: ratingKey
        title: title
        type: type
      properties:
        title:
          description: Title of the media item
          type: string
        type:
          description: "Media type (e.g., movie, episode, track)"
          type: string
        duration:
          description: Duration of the media item in milliseconds
          type: integer
        ratingKey:
          description: Unique rating key for the item
          type: string
        summary:
          description: Description or summary of the media item
          type: string
    getSessions_200_response_MediaContainer_Metadata_inner_Field_inner:
      example:
        name: name
        locked: true
      properties:
        locked:
          type: boolean
        name:
          type: string
    getAvailableClients_200_response:
      example:
        MediaContainer:
          size: 1
          Server:
          - protocol: plex
            product: Plex for iOS
            address: 10.10.10.102
            machineIdentifier: A2E901F8-E016-43A7-ADFB-EF8CA8A4AC05
            port: 32500
            name: iPad
            host: 10.10.10.102
            deviceClass: tablet
            protocolVersion: 2
            version: "8.17"
            protocolCapabilities: "playback,playqueues,timeline,provider-playback"
          - protocol: plex
            product: Plex for iOS
            address: 10.10.10.102
            machineIdentifier: A2E901F8-E016-43A7-ADFB-EF8CA8A4AC05
            port: 32500
            name: iPad
            host: 10.10.10.102
            deviceClass: tablet
            protocolVersion: 2
            version: "8.17"
            protocolCapabilities: "playback,playqueues,timeline,provider-playback"
      properties:
        MediaContainer:
          $ref: '#/components/schemas/getAvailableClients_200_response_MediaContainer'
    getAvailableClients_200_response_MediaContainer_Server_inner:
      example:
        protocol: plex
        product: Plex for iOS
        address: 10.10.10.102
        machineIdentifier: A2E901F8-E016-43A7-ADFB-EF8CA8A4AC05
        port: 32500
        name: iPad
        host: 10.10.10.102
        deviceClass: tablet
        protocolVersion: 2
        version: "8.17"
        protocolCapabilities: "playback,playqueues,timeline,provider-playback"
      properties:
        name:
          example: iPad
          type: string
        host:
          example: 10.10.10.102
          type: string
        address:
          example: 10.10.10.102
          type: string
        port:
          example: 32500
          type: number
        machineIdentifier:
          example: A2E901F8-E016-43A7-ADFB-EF8CA8A4AC05
          type: string
        version:
          example: "8.17"
          type: string
        protocol:
          example: plex
          type: string
        product:
          example: Plex for iOS
          type: string
        deviceClass:
          example: tablet
          type: string
        protocolVersion:
          example: 2
          type: string
        protocolCapabilities:
          example: "playback,playqueues,timeline,provider-playback"
          type: string
    getDevices_200_response_MediaContainer_Device_inner:
      example:
        createdAt: 1654131230
        clientIdentifier: clientIdentifier
        name: iPhone
        id: 1
        platform: iOS
      properties:
        id:
          example: 1
          type: number
        name:
          example: iPhone
          type: string
        platform:
          example: iOS
          type: string
        clientIdentifier:
          type: string
        createdAt:
          example: 1654131230
          type: number
    getServerCapabilities_200_response_MediaContainer_Directory_inner:
      example:
        count: 3
        title: title
        key: key
      properties:
        count:
          type: integer
        key:
          type: string
        title:
          type: string
    getSessionHistory_200_response_MediaContainer:
      example:
        size: ""
        Metadata:
        - historyKey: /status/sessions/history/1
          grandparentTitle: Taskmaster
          grandparentThumb: /library/metadata/32132/thumb/1703933346
          parentIndex: 13
          thumb: /library/metadata/32171/thumb/-1
          librarySectionID: "2"
          grandparentKey: /library/metadata/32132
          index: 1
          originallyAvailableAt: 2022-04-14T00:00:00.000Z
          ratingKey: "32171"
          title: The Noise That Blue Makes
          type: episode
          deviceID: 5
          parentThumb: /library/metadata/32170/thumb/1654134301
          accountID: 1
          grandparentArt: /library/metadata/32132/art/1703933346
          parentKey: /library/metadata/32170
          viewedAt: 1654139223
          key: /library/metadata/32171
        - historyKey: /status/sessions/history/1
          grandparentTitle: Taskmaster
          grandparentThumb: /library/metadata/32132/thumb/1703933346
          parentIndex: 13
          thumb: /library/metadata/32171/thumb/-1
          librarySectionID: "2"
          grandparentKey: /library/metadata/32132
          index: 1
          originallyAvailableAt: 2022-04-14T00:00:00.000Z
          ratingKey: "32171"
          title: The Noise That Blue Makes
          type: episode
          deviceID: 5
          parentThumb: /library/metadata/32170/thumb/1654134301
          accountID: 1
          grandparentArt: /library/metadata/32132/art/1703933346
          parentKey: /library/metadata/32170
          viewedAt: 1654139223
          key: /library/metadata/32171
      properties:
        size:
          type: long
        Metadata:
          items:
            $ref: '#/components/schemas/getSessionHistory_200_response_MediaContainer_Metadata_inner'
          type: array
    getButlerTasks_200_response_ButlerTasks_ButlerTask_inner:
      example:
        scheduleRandomized: true
        name: BackupDatabase
        description: Create a backup copy of the server's database in the configured
          backup directory
        interval: 3
        title: Backup Database
        enabled: true
      properties:
        name:
          example: BackupDatabase
          type: string
        interval:
          example: 3
          type: number
        scheduleRandomized:
          type: boolean
        enabled:
          type: boolean
        title:
          example: Backup Database
          type: string
        description:
          example: Create a backup copy of the server's database in the configured
            backup directory
          type: string
    getStatistics_200_response_MediaContainer:
      example:
        Account:
        - thumb: https://plex.tv/users/50d83634246da1de/avatar?c=1707110967
          defaultAudioLanguage: en
          name: Diane
          defaultSubtitleLanguage: en
          id: 238960586
          autoSelectAudio: true
          subtitleMode: 1
          key: /accounts/238960586
        - thumb: https://plex.tv/users/50d83634246da1de/avatar?c=1707110967
          defaultAudioLanguage: en
          name: Diane
          defaultSubtitleLanguage: en
          id: 238960586
          autoSelectAudio: true
          subtitleMode: 1
          key: /accounts/238960586
        StatisticsMedia:
        - duration: 1555
          accountID: 1
          at: 1707141600
          count: 1
          timespan: 4
          deviceID: 13
          metadataType: 4
        - duration: 1555
          accountID: 1
          at: 1707141600
          count: 1
          timespan: 4
          deviceID: 13
          metadataType: 4
        size: 5497
        Device:
        - createdAt: 1706470556
          clientIdentifier: 793095d235660625108ef785cc7646e9
          name: Roku Express
          id: 208
          platform: Roku
        - createdAt: 1706470556
          clientIdentifier: 793095d235660625108ef785cc7646e9
          name: Roku Express
          id: 208
          platform: Roku
      properties:
        size:
          example: 5497
          format: int32
          type: integer
        Device:
          items:
            $ref: '#/components/schemas/getStatistics_200_response_MediaContainer_Device_inner'
          type: array
        Account:
          items:
            $ref: '#/components/schemas/getStatistics_200_response_MediaContainer_Account_inner'
          type: array
        StatisticsMedia:
          items:
            $ref: '#/components/schemas/getStatistics_200_response_MediaContainer_StatisticsMedia_inner'
          type: array
    getServerActivities_200_response_MediaContainer_Activity_inner:
      example:
        Context:
          librarySectionID: librarySectionID
        subtitle: subtitle
        progress: 1.4658129805029452
        type: type
        title: title
        uuid: uuid
        cancellable: true
        userID: 6.027456183070403
      properties:
        uuid:
          type: string
        type:
          type: string
        cancellable:
          type: boolean
        userID:
          type: number
        title:
          type: string
        subtitle:
          type: string
        progress:
          type: number
        Context:
          $ref: '#/components/schemas/getServerActivities_200_response_MediaContainer_Activity_inner_Context'
    getButlerTasks_200_response_ButlerTasks:
      example:
        ButlerTask:
        - scheduleRandomized: true
          name: BackupDatabase
          description: Create a backup copy of the server's database in the configured
            backup directory
          interval: 3
          title: Backup Database
          enabled: true
        - scheduleRandomized: true
          name: BackupDatabase
          description: Create a backup copy of the server's database in the configured
            backup directory
          interval: 3
          title: Backup Database
          enabled: true
      properties:
        ButlerTask:
          items:
            $ref: '#/components/schemas/getButlerTasks_200_response_ButlerTasks_ButlerTask_inner'
          type: array
    getServerAccounts_200_response_MediaContainer_Account_inner:
      example:
        thumb: ""
        defaultAudioLanguage: en
        name: shoeletz
        defaultSubtitleLanguage: en
        id: 1
        autoSelectAudio: true
        subtitleMode: 1
        key: /accounts/1
      properties:
        id:
          example: 1
          type: integer
        key:
          example: /accounts/1
          type: string
        name:
          example: shoeletz
          type: string
        defaultAudioLanguage:
          example: en
          type: string
        autoSelectAudio:
          example: true
          type: boolean
        defaultSubtitleLanguage:
          example: en
          type: string
        subtitleMode:
          example: 1
          type: integer
        thumb:
          example: ""
          type: string
    getServerCapabilities_401_response:
      example:
        errors:
        - code: 1001
          message: User could not be authenticated
          status: 401
        - code: 1001
          message: User could not be authenticated
          status: 401
      properties:
        errors:
          items:
            $ref: '#/components/schemas/getServerCapabilities_401_response_errors_inner'
          type: array
    get_server_identity_200_response_MediaContainer:
      example:
        size: 0
        machineIdentifier: machineIdentifier
        claimed: true
        version: version
      properties:
        size:
          example: 0
          type: number
        claimed:
          type: boolean
        machineIdentifier:
          type: string
        version:
          type: string
    getSessions_200_response_MediaContainer_Metadata_inner_User:
      example:
        thumb: thumb
        id: id
        title: title
      properties:
        id:
          type: string
        thumb:
          type: string
        title:
          type: string
    getServerCapabilities_200_response_MediaContainer:
      example:
        transcoderSubtitles: true
        readOnlyLibraries: true
        photoAutoTag: true
        myPlexMappingState: myPlexMappingState
        transcoderVideoQualities: transcoderVideoQualities
        allowCameraUpload: true
        pluginHost: true
        multiuser: true
        allowSharing: true
        myPlexUsername: myPlexUsername
        updatedAt: 9.301444243932576
        myPlexSubscription: true
        livetv: 6.027456183070403
        allowSync: true
        sync: true
        version: version
        itemClusters: true
        transcoderLyrics: true
        ownerFeatures: ownerFeatures
        transcoderVideoResolutions: transcoderVideoResolutions
        allowChannelAccess: true
        size: 0.8008281904610115
        myPlex: true
        musicAnalysis: 1.4658129805029452
        companionProxy: true
        transcoderVideo: true
        hubSearch: true
        allowMediaDeletion: true
        allowTuners: true
        certificate: true
        myPlexSigninState: myPlexSigninState
        platform: platform
        transcoderAudio: true
        updater: true
        transcoderPhoto: true
        streamingBrainABRVersion: 5.637376656633329
        countryCode: countryCode
        platformVersion: platformVersion
        eventStream: true
        friendlyName: friendlyName
        Directory:
        - count: 3
          title: title
          key: key
        - count: 3
          title: title
          key: key
        machineIdentifier: machineIdentifier
        backgroundProcessing: true
        voiceSearch: true
        offlineTranscode: 5.962133916683182
        streamingBrainVersion: 2.3021358869347655
        mediaProviders: true
        transcoderVideoBitrates: transcoderVideoBitrates
        diagnostics: diagnostics
        pushNotifications: true
        transcoderActiveVideoSessions: 7.061401241503109
      properties:
        size:
          type: number
        allowCameraUpload:
          type: boolean
        allowChannelAccess:
          type: boolean
        allowMediaDeletion:
          type: boolean
        allowSharing:
          type: boolean
        allowSync:
          type: boolean
        allowTuners:
          type: boolean
        backgroundProcessing:
          type: boolean
        certificate:
          type: boolean
        companionProxy:
          type: boolean
        countryCode:
          type: string
        diagnostics:
          type: string
        eventStream:
          type: boolean
        friendlyName:
          type: string
        hubSearch:
          type: boolean
        itemClusters:
          type: boolean
        livetv:
          type: number
        machineIdentifier:
          type: string
        mediaProviders:
          type: boolean
        multiuser:
          type: boolean
        musicAnalysis:
          type: number
        myPlex:
          type: boolean
        myPlexMappingState:
          type: string
        myPlexSigninState:
          type: string
        myPlexSubscription:
          type: boolean
        myPlexUsername:
          type: string
        offlineTranscode:
          type: number
        ownerFeatures:
          type: string
        photoAutoTag:
          type: boolean
        platform:
          type: string
        platformVersion:
          type: string
        pluginHost:
          type: boolean
        pushNotifications:
          type: boolean
        readOnlyLibraries:
          type: boolean
        streamingBrainABRVersion:
          type: number
        streamingBrainVersion:
          type: number
        sync:
          type: boolean
        transcoderActiveVideoSessions:
          type: number
        transcoderAudio:
          type: boolean
        transcoderLyrics:
          type: boolean
        transcoderPhoto:
          type: boolean
        transcoderSubtitles:
          type: boolean
        transcoderVideo:
          type: boolean
        transcoderVideoBitrates:
          type: string
        transcoderVideoQualities:
          type: string
        transcoderVideoResolutions:
          type: string
        updatedAt:
          type: number
        updater:
          type: boolean
        version:
          type: string
        voiceSearch:
          type: boolean
        Directory:
          items:
            $ref: '#/components/schemas/getServerCapabilities_200_response_MediaContainer_Directory_inner'
          type: array
    getSessions_200_response_MediaContainer_Metadata_inner_Rating_inner:
      example:
        image: image
        count: count
        type: type
        value: value
      properties:
        count:
          type: string
        image:
          type: string
        type:
          type: string
        value:
          type: string
    getServerAccounts_200_response_MediaContainer:
      example:
        identifier: com.plexapp.system.accounts
        Account:
        - thumb: ""
          defaultAudioLanguage: en
          name: shoeletz
          defaultSubtitleLanguage: en
          id: 1
          autoSelectAudio: true
          subtitleMode: 1
          key: /accounts/1
        - thumb: ""
          defaultAudioLanguage: en
          name: shoeletz
          defaultSubtitleLanguage: en
          id: 1
          autoSelectAudio: true
          subtitleMode: 1
          key: /accounts/1
        size: 6
      properties:
        size:
          example: 6
          type: integer
        identifier:
          example: com.plexapp.system.accounts
          type: string
        Account:
          items:
            $ref: '#/components/schemas/getServerAccounts_200_response_MediaContainer_Account_inner'
          type: array
    getServerAccounts_200_response:
      example:
        MediaContainer:
          identifier: com.plexapp.system.accounts
          Account:
          - thumb: ""
            defaultAudioLanguage: en
            name: shoeletz
            defaultSubtitleLanguage: en
            id: 1
            autoSelectAudio: true
            subtitleMode: 1
            key: /accounts/1
          - thumb: ""
            defaultAudioLanguage: en
            name: shoeletz
            defaultSubtitleLanguage: en
            id: 1
            autoSelectAudio: true
            subtitleMode: 1
            key: /accounts/1
          size: 6
      properties:
        MediaContainer:
          $ref: '#/components/schemas/getServerAccounts_200_response_MediaContainer'
    getTranscodeSessions_200_response_MediaContainer_TranscodeSession_inner:
      properties:
        key:
          example: vv3i2q2lax92qlzul1hbd4bx
          type: string
        throttled:
          example: false
          type: boolean
        complete:
          example: false
          type: boolean
        progress:
          example: 1.7999999523162842
          type: number
        size:
          type: long
        speed:
          example: 25.100000381469727
          type: number
        error:
          example: false
          type: boolean
        duration:
          example: 1445695
          format: int32
          type: integer
        remaining:
          example: 53
          format: int32
          type: integer
        context:
          example: streaming
          type: string
        sourceVideoCodec:
          example: h264
          type: string
        sourceAudioCodec:
          example: aac
          type: string
        videoDecision:
          example: transcode
          type: string
        audioDecision:
          example: transcode
          type: string
        subtitleDecision:
          example: burn
          type: string
        protocol:
          example: http
          type: string
        container:
          example: mkv
          type: string
        videoCodec:
          example: h264
          type: string
        audioCodec:
          example: opus
          type: string
        audioChannels:
          example: 1
          format: int32
          type: integer
        transcodeHwRequested:
          example: true
          type: boolean
        timeStamp:
          example: 1705895805.4919229
          type: number
        maxOffsetAvailable:
          example: 29.53
          type: number
        minOffsetAvailable:
          example: 3.003000020980835
          type: number
    getStatistics_200_response_MediaContainer_Device_inner:
      example:
        createdAt: 1706470556
        clientIdentifier: 793095d235660625108ef785cc7646e9
        name: Roku Express
        id: 208
        platform: Roku
      properties:
        id:
          example: 208
          format: int32
          type: integer
        name:
          example: Roku Express
          type: string
        platform:
          example: Roku
          type: string
        clientIdentifier:
          example: 793095d235660625108ef785cc7646e9
          type: string
        createdAt:
          example: 1706470556
          format: int32
          type: integer
    _library_sections_get_200_response_MediaContainer_Directory_inner:
      example:
        agent: agent
        scanner: scanner
        title: title
        type: type
        key: key
      properties:
        key:
          description: Unique key for the library
          type: string
        title:
          description: Library title
          type: string
        type:
          description: "Type of media (e.g., movie, show, music)"
          type: string
        agent:
          description: Metadata agent used for the library
          type: string
        scanner:
          description: Scanner used to detect media
          type: string
    _library_sections_get_200_response_MediaContainer:
      example:
        size: 0
        Directory:
        - agent: agent
          scanner: scanner
          title: title
          type: type
          key: key
        - agent: agent
          scanner: scanner
          title: title
          type: type
          key: key
      properties:
        size:
          description: Number of media libraries
          type: integer
        Directory:
          description: List of media libraries
          items:
            $ref: '#/components/schemas/_library_sections_get_200_response_MediaContainer_Directory_inner'
          type: array
    get_server_identity_200_response:
      example:
        MediaContainer:
          size: 0
          machineIdentifier: machineIdentifier
          claimed: true
          version: version
      properties:
        MediaContainer:
          $ref: '#/components/schemas/get_server_identity_200_response_MediaContainer'
    getSessionHistory_200_response_MediaContainer_Metadata_inner:
      example:
        historyKey: /status/sessions/history/1
        grandparentTitle: Taskmaster
        grandparentThumb: /library/metadata/32132/thumb/1703933346
        parentIndex: 13
        thumb: /library/metadata/32171/thumb/-1
        librarySectionID: "2"
        grandparentKey: /library/metadata/32132
        index: 1
        originallyAvailableAt: 2022-04-14T00:00:00.000Z
        ratingKey: "32171"
        title: The Noise That Blue Makes
        type: episode
        deviceID: 5
        parentThumb: /library/metadata/32170/thumb/1654134301
        accountID: 1
        grandparentArt: /library/metadata/32132/art/1703933346
        parentKey: /library/metadata/32170
        viewedAt: 1654139223
        key: /library/metadata/32171
      properties:
        historyKey:
          example: /status/sessions/history/1
          type: string
        key:
          example: /library/metadata/32171
          type: string
        ratingKey:
          example: "32171"
          type: string
        librarySectionID:
          example: "2"
          type: string
        parentKey:
          example: /library/metadata/32170
          type: string
        grandparentKey:
          example: /library/metadata/32132
          type: string
        title:
          example: The Noise That Blue Makes
          type: string
        grandparentTitle:
          example: Taskmaster
          type: string
        type:
          example: episode
          type: string
        thumb:
          example: /library/metadata/32171/thumb/-1
          type: string
        parentThumb:
          example: /library/metadata/32170/thumb/1654134301
          type: string
        grandparentThumb:
          example: /library/metadata/32132/thumb/1703933346
          type: string
        grandparentArt:
          example: /library/metadata/32132/art/1703933346
          type: string
        index:
          example: 1
          format: int32
          type: integer
        parentIndex:
          example: 13
          format: int32
          type: integer
        originallyAvailableAt:
          example: 2022-04-14T00:00:00.000Z
          format: date
          type: string
        viewedAt:
          example: 1654139223
          format: int32
          type: integer
        accountID:
          example: 1
          format: int32
          type: integer
        deviceID:
          example: 5
          format: int32
          type: integer
    getBandwidthStatistics_200_response_MediaContainer_StatisticsBandwidth_inner:
      example:
        accountID: 238960586
        at: 1718387650
        bytes: 22
        lan: true
        timespan: 6
        deviceID: 208
      properties:
        accountID:
          example: 238960586
          format: int32
          type: integer
        deviceID:
          example: 208
          format: int32
          type: integer
        timespan:
          example: 6
          type: integer
        at:
          example: 1718387650
          format: int32
          type: integer
        lan:
          example: true
          type: boolean
        bytes:
          example: 22
          type: long
    getResourcesStatistics_200_response_MediaContainer_StatisticsResources_inner:
      example:
        processMemoryUtilization: 0.493
        at: 1718384427
        hostMemoryUtilization: 17.026
        timespan: 6
        hostCpuUtilization: 1.276
        processCpuUtilization: 0.025
      properties:
        timespan:
          example: 6
          type: integer
        at:
          example: 1718384427
          type: integer
        hostCpuUtilization:
          example: 1.276
          format: float
          type: number
        processCpuUtilization:
          example: 0.025
          format: float
          type: number
        hostMemoryUtilization:
          example: 17.026
          format: float
          type: number
        processMemoryUtilization:
          example: 0.493
          format: float
          type: number
    getSessions_200_response_MediaContainer_Metadata_inner_Director_inner:
      example:
        filter: filter
        thumb: thumb
        id: id
        tag: tag
        tagKey: tagKey
      properties:
        filter:
          type: string
        id:
          type: string
        tag:
          type: string
        tagKey:
          type: string
        thumb:
          type: string
    getSessions_200_response_MediaContainer_Metadata_inner_Player:
      example:
        product: product
        address: address
        machineIdentifier: machineIdentifier
        remotePublicAddress: remotePublicAddress
        title: title
        secure: true
        version: version
        userID: 6
        platform: platform
        local: true
        relayed: true
        vendor: vendor
        platformVersion: platformVersion
        model: model
        state: state
        device: device
      properties:
        address:
          type: string
        device:
          type: string
        machineIdentifier:
          type: string
        model:
          type: string
        platform:
          type: string
        platformVersion:
          type: string
        product:
          type: string
        remotePublicAddress:
          type: string
        state:
          type: string
        title:
          type: string
        vendor:
          type: string
        version:
          type: string
        local:
          type: boolean
        relayed:
          type: boolean
        secure:
          type: boolean
        userID:
          type: integer
    getSessions_200_response_MediaContainer:
      example:
        size: ""
        Metadata:
        - studio: studio
          addedAt: 0
          User:
            thumb: thumb
            id: id
            title: title
          thumb: thumb
          year: 2
          Rating:
          - image: image
            count: count
            type: type
            value: value
          - image: image
            count: count
            type: type
            value: value
          ratingKey: ratingKey
          title: title
          type: type
          UltraBlurColors:
          - bottomLeft: bottomLeft
            bottomRight: bottomRight
            topLeft: topLeft
            topRight: topRight
          - bottomLeft: bottomLeft
            bottomRight: bottomRight
            topLeft: topLeft
            topRight: topRight
          duration: 1
          Field:
          - name: name
            locked: true
          - name: name
            locked: true
          librarySectionKey: librarySectionKey
          key: key
          slug: slug
          updatedAt: 5
          summary: summary
          art: art
          Player:
            product: product
            address: address
            machineIdentifier: machineIdentifier
            remotePublicAddress: remotePublicAddress
            title: title
            secure: true
            version: version
            userID: 6
            platform: platform
            local: true
            relayed: true
            vendor: vendor
            platformVersion: platformVersion
            model: model
            state: state
            device: device
          audienceRating: 6.027456183070403
          sessionKey: sessionKey
          librarySectionID: librarySectionID
          Media:
          - container: container
            videoProfile: videoProfile
            aspectRatio: aspectRatio
            bitrate: 9
            audioCodec: audioCodec
            videoFrameRate: videoFrameRate
            duration: 3
            audioChannels: 7
            Part:
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            width: 4
            id: id
            videoResolution: videoResolution
            selected: true
            height: 2
            videoCodec: videoCodec
          - container: container
            videoProfile: videoProfile
            aspectRatio: aspectRatio
            bitrate: 9
            audioCodec: audioCodec
            videoFrameRate: videoFrameRate
            duration: 3
            audioChannels: 7
            Part:
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            width: 4
            id: id
            videoResolution: videoResolution
            selected: true
            height: 2
            videoCodec: videoCodec
          Director:
          - filter: filter
            thumb: thumb
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            thumb: thumb
            id: id
            tag: tag
            tagKey: tagKey
          originallyAvailableAt: originallyAvailableAt
          Role:
          - filter: filter
            role: role
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            role: role
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          Producer:
          - filter: filter
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          librarySectionTitle: librarySectionTitle
          guid: guid
          tagline: tagline
          Country:
          - filter: filter
            count: count
            id: id
            tag: tag
          - filter: filter
            count: count
            id: id
            tag: tag
          contentRating: contentRating
          Genre:
          - filter: filter
            count: count
            id: id
            tag: tag
          - filter: filter
            count: count
            id: id
            tag: tag
          chapterSource: chapterSource
          viewOffset: 5
          audienceRatingImage: audienceRatingImage
          Writer:
          - filter: filter
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          Session:
            bandwidth: 3
            location: location
            id: id
        - studio: studio
          addedAt: 0
          User:
            thumb: thumb
            id: id
            title: title
          thumb: thumb
          year: 2
          Rating:
          - image: image
            count: count
            type: type
            value: value
          - image: image
            count: count
            type: type
            value: value
          ratingKey: ratingKey
          title: title
          type: type
          UltraBlurColors:
          - bottomLeft: bottomLeft
            bottomRight: bottomRight
            topLeft: topLeft
            topRight: topRight
          - bottomLeft: bottomLeft
            bottomRight: bottomRight
            topLeft: topLeft
            topRight: topRight
          duration: 1
          Field:
          - name: name
            locked: true
          - name: name
            locked: true
          librarySectionKey: librarySectionKey
          key: key
          slug: slug
          updatedAt: 5
          summary: summary
          art: art
          Player:
            product: product
            address: address
            machineIdentifier: machineIdentifier
            remotePublicAddress: remotePublicAddress
            title: title
            secure: true
            version: version
            userID: 6
            platform: platform
            local: true
            relayed: true
            vendor: vendor
            platformVersion: platformVersion
            model: model
            state: state
            device: device
          audienceRating: 6.027456183070403
          sessionKey: sessionKey
          librarySectionID: librarySectionID
          Media:
          - container: container
            videoProfile: videoProfile
            aspectRatio: aspectRatio
            bitrate: 9
            audioCodec: audioCodec
            videoFrameRate: videoFrameRate
            duration: 3
            audioChannels: 7
            Part:
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            width: 4
            id: id
            videoResolution: videoResolution
            selected: true
            height: 2
            videoCodec: videoCodec
          - container: container
            videoProfile: videoProfile
            aspectRatio: aspectRatio
            bitrate: 9
            audioCodec: audioCodec
            videoFrameRate: videoFrameRate
            duration: 3
            audioChannels: 7
            Part:
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            - container: container
              duration: 7
              file: file
              size: ""
              decision: decision
              videoProfile: videoProfile
              Stream:
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              - colorRange: colorRange
                colorTrc: colorTrc
                chromaSubsampling: chromaSubsampling
                bitrate: 1
                language: language
                languageTag: languageTag
                title: title
                audioChannelLayout: audioChannelLayout
                colorSpace: colorSpace
                displayTitle: displayTitle
                frameRate: 7.457744773683766
                codedWidth: 6
                default: true
                streamType: 9
                extendedDisplayTitle: extendedDisplayTitle
                id: id
                selected: true
                height: 1
                original: true
                level: 5
                profile: profile
                chromaLocation: chromaLocation
                index: 4
                refFrames: 9
                languageCode: languageCode
                codec: codec
                channels: 8
                bitDepth: 1
                width: 6
                samplingRate: 9
                codedHeight: 1
                colorPrimaries: colorPrimaries
                location: location
                scanType: scanType
              id: id
              key: key
              selected: true
            width: 4
            id: id
            videoResolution: videoResolution
            selected: true
            height: 2
            videoCodec: videoCodec
          Director:
          - filter: filter
            thumb: thumb
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            thumb: thumb
            id: id
            tag: tag
            tagKey: tagKey
          originallyAvailableAt: originallyAvailableAt
          Role:
          - filter: filter
            role: role
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            role: role
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          Producer:
          - filter: filter
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            thumb: thumb
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          librarySectionTitle: librarySectionTitle
          guid: guid
          tagline: tagline
          Country:
          - filter: filter
            count: count
            id: id
            tag: tag
          - filter: filter
            count: count
            id: id
            tag: tag
          contentRating: contentRating
          Genre:
          - filter: filter
            count: count
            id: id
            tag: tag
          - filter: filter
            count: count
            id: id
            tag: tag
          chapterSource: chapterSource
          viewOffset: 5
          audienceRatingImage: audienceRatingImage
          Writer:
          - filter: filter
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          - filter: filter
            count: count
            id: id
            tag: tag
            tagKey: tagKey
          Session:
            bandwidth: 3
            location: location
            id: id
      properties:
        size:
          type: long
        Metadata:
          items:
            $ref: '#/components/schemas/getSessions_200_response_MediaContainer_Metadata_inner'
          type: array
    getSessions_200_response_MediaContainer_Metadata_inner:
      example:
        studio: studio
        addedAt: 0
        User:
          thumb: thumb
          id: id
          title: title
        thumb: thumb
        year: 2
        Rating:
        - image: image
          count: count
          type: type
          value: value
        - image: image
          count: count
          type: type
          value: value
        ratingKey: ratingKey
        title: title
        type: type
        UltraBlurColors:
        - bottomLeft: bottomLeft
          bottomRight: bottomRight
          topLeft: topLeft
          topRight: topRight
        - bottomLeft: bottomLeft
          bottomRight: bottomRight
          topLeft: topLeft
          topRight: topRight
        duration: 1
        Field:
        - name: name
          locked: true
        - name: name
          locked: true
        librarySectionKey: librarySectionKey
        key: key
        slug: slug
        updatedAt: 5
        summary: summary
        art: art
        Player:
          product: product
          address: address
          machineIdentifier: machineIdentifier
          remotePublicAddress: remotePublicAddress
          title: title
          secure: true
          version: version
          userID: 6
          platform: platform
          local: true
          relayed: true
          vendor: vendor
          platformVersion: platformVersion
          model: model
          state: state
          device: device
        audienceRating: 6.027456183070403
        sessionKey: sessionKey
        librarySectionID: librarySectionID
        Media:
        - container: container
          videoProfile: videoProfile
          aspectRatio: aspectRatio
          bitrate: 9
          audioCodec: audioCodec
          videoFrameRate: videoFrameRate
          duration: 3
          audioChannels: 7
          Part:
          - container: container
            duration: 7
            file: file
            size: ""
            decision: decision
            videoProfile: videoProfile
            Stream:
            - colorRange: colorRange
              colorTrc: colorTrc
              chromaSubsampling: chromaSubsampling
              bitrate: 1
              language: language
              languageTag: languageTag
              title: title
              audioChannelLayout: audioChannelLayout
              colorSpace: colorSpace
              displayTitle: displayTitle
              frameRate: 7.457744773683766
              codedWidth: 6
              default: true
              streamType: 9
              extendedDisplayTitle: extendedDisplayTitle
              id: id
              selected: true
              height: 1
              original: true
              level: 5
              profile: profile
              chromaLocation: chromaLocation
              index: 4
              refFrames: 9
              languageCode: languageCode
              codec: codec
              channels: 8
              bitDepth: 1
              width: 6
              samplingRate: 9
              codedHeight: 1
              colorPrimaries: colorPrimaries
              location: location
              scanType: scanType
            - colorRange: colorRange
              colorTrc: colorTrc
              chromaSubsampling: chromaSubsampling
              bitrate: 1
              language: language
              languageTag: languageTag
              title: title
              audioChannelLayout: audioChannelLayout
              colorSpace: colorSpace
              displayTitle: displayTitle
              frameRate: 7.457744773683766
              codedWidth: 6
              default: true
              streamType: 9
              extendedDisplayTitle: extendedDisplayTitle
              id: id
              selected: true
              height: 1
              original: true
              level: 5
              profile: profile
              chromaLocation: chromaLocation
              index: 4
              refFrames: 9
              languageCode: languageCode
              codec: codec
              channels: 8
              bitDepth: 1
              width: 6
              samplingRate: 9
              codedHeight: 1
              colorPrimaries: colorPrimaries
              location: location
              scanType: scanType
            id: id
            key: key
            selected: true
          - container: container
            duration: 7
            file: file
            size: ""
            decision: decision
            videoProfile: videoProfile
            Stream:
[...]
